This notebook is for opening simulator HDF5 files and checking the numpy arrays stored in those files.

In [1]:
import numpy as np
import pandas as pd
import h5py

In [2]:
pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [3]:
# Set the location of the sim archive
sim_archive_loc = 'sim_archives/sim_archive.hdf5'

In [4]:
# Try reading from the file into a new cache.
read_cache = None
with h5py.File(sim_archive_loc, 'r') as f:
    dset = f['planets/loc_archive']
    read_cache = dset[()]

In [5]:
read_cache.shape

(100, 10, 3)

In [7]:
pd.DataFrame(read_cache[99])

              0                 1     2
0         0.006            60.624 0.000
1 469994368.000   56997924864.000 0.000
2 349999424.000  109999439872.000 0.000
3 299999808.000  149999697920.000 0.000
4 239999952.000  219999862784.000 0.000
5 130000000.000  769999962112.000 0.000
6  90000000.000 1399999954944.000 0.000
7  68350000.000 2799999909888.000 0.000
8  54770000.000 4500000079872.000 0.000
9  47480000.000 3700000030720.000 0.000